# =============================================
# FastFood Dashboard — Environment Variables
# Copy this to .env and fill in your values
# =============================================

# Database

DATABASE_URL=postgresql://postgres.xhahouocqkkdsaekvypi:6nnEHwrwKuVq7gJN@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.xhahouocqkkdsaekvypi:6nnEHwrwKuVq7gJN@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres

# DATABASE_URL=postgresql://admin:password@localhost:5432/fastfood_db
# DATABASE_URL=postgresql://neondb_owner:npg_FRr9HXw7iCpb@ep-bold-dream-apdd2y6n-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# JWT
JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_to_another_long_random_secret
JWT_REFRESH_EXPIRES_IN=7d

# App
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200
